.a {
  color: red;
}

.header {
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
  padding-top: 20px;
  width: 100%;
  word-wrap: break-word;
}

.text-logo {
  margin-left: 50px;
}

.leven-classNameic-menu site-main-menu {
  margin-rigth: 20px;
  word-wrap: break-word;
  display: flex;
}

.active {
  font-weight: bold;
  color: #0085ff !important;
}

.site-header {
  width: auto;
}
